*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    display: flex;
    height: 100vh;

}
.icon {
    width: 24px;
    height: 24px;
    
}
.sbar {
    width: 220px;
    background:#e4e4e4;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap:10px
}

.sbar a {
    display: flex;
    align-items: center;
    gap: 12px;
    text-decoration: none;
    color:#707070;
    font-size: 15px;
    font-weight: 500;
}

.sbar a:hover {
  background: #eaeaea;
    border-radius: 8px;
    padding: 8px;
}
.by{
    height: 28px;
    width: 81px;
    color:#a8a8a8;
    padding-top: 5px;
    padding-left: 5px;
}
.logo-img{
    width:81px;
    height: 28px;

}
.sidebar-header{
    display: flex;
    width:600px ;
    height:28px ;
    margin-bottom: 30px;
}

.div {
    border: none;
    border-top: 1px solid #ccc;
    margin: 10px 0;
    margin-bottom: 70px;
}
.divto {
    border: none;
    border-top: 1px solid #ccc;
    margin: 10px 0;
    margin-top: 70px;
}
.log-out{
    margin-top: 15px;
    height: 35px;
    background-color: #f8f7f7;
    border-radius: 5px;
    border-width: 0.1px;
    border-color: #707070;
    border-style: solid;
    color:#707070;


}
.log-out:hover {
  background-color:#f8d864 ;
}
.iconto{
    display:inline-block;
    padding-left: 5px;
}
.iconto img {
 width: 30px;
 height: 30px;
}
.contact-box {
    align-items: center;
    gap: 10px;
}

.contact-box a {
    text-decoration: none;
    color: #6c6c6c;
    font-size: 15px;
    padding-left: 10px;
}
.contact-box img {
    width: 20px;
    height: 20px;
}
.contact-box p {
    font-size: 10px;
    margin-top: 20px;
    padding-left: 15px;
}

.home {
      flex: 1;
      display:block;
      padding: 23px;
}
.search-box {
    position: relative;
}

.search-box input {
    width: 100%;
    padding: 10px ;
    border: 1px solid #f3f1f1;
    border-radius: 8px;
    font-size: 16px;
    padding-left: 40px;
}

.search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    font-size: 22px;
    transform: translateY(-50%);
    color: #666;
    pointer-events: none;
}
.over{
    display: flex;
    display:inline-block;
    padding: 10px 2px 2px 0px;
    font-size:18px;
}
.overview {
      margin-top: 25px;
      display: flex;
      gap: 10px;
}


 .card {
      background: white;
      padding: 8px;
      border-radius: 10px;
      box-shadow: 0 8px 10px -4px rgb(238, 198, 77);
      width: 200px;
      height: 65px;
      text-align: center;
      padding-top: 1px;
    }
.card p{
font-size: 16px;
padding-top: 3px;
}
.graph {
      align-items: center;
      justify-content: center;
      color: #aaa;
      font-size: 14px;
}
.ex{
    padding-left: 10px;
    padding-bottom: 3px;
    padding-top: 15px;
    color:black
}
.fl{
    display: flex;
    gap: 10px;
    display:inline-block;
}
 .actions button {
      height: 55px;
        width: 200px;
      border-radius: 10px;
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);
      border: none;
      cursor: pointer;
      margin-left: 20px;
    }
.btnon {
      background-color: #f3f8ff;}
      .btnto {
        background-color: #fff6ee;
      }
.btnth {
background-color: #ffedee;}
.btnfr{
    background-color:#faf6ff ;
}
.pp{
    padding-left: 10px;
    padding-bottom: 9px;
    padding-bottom: 3px;
    padding-top: 9px;
    color:black;
    font-size: 22px;
}

.profile-panel {
      width: 280px;
      background: #ffffff;
      border-left: 1px solid #e1e1e1;
      padding: 20px;
      height: 100vh;
}


.material-icons {
    font-size: 18px;
    color: #6b6b6b;
    padding-left: 6px;
}
.profile-simag{
    border-radius: 12px;
    width: 250px;
    height: 140px;
    background: #e9e9e9;
    padding: 20px;
}
.simag{
    height: 90px;
    width: 90px;
    background-color: #adababa6;
    margin-left: 90px;
    margin-top: -45px;
    border-radius: 50%;

}


.pro{
    margin-top: 10px;
    margin-left: 70px;
}
.ppp{
    margin-left: 75px;
    color: #999999;
    font-size: smaller;
}
.pppp{
     color: #999999;
    font-size:x-small;
    margin-left: 10px;
}
.uiux{
font-size: 13px;
margin-left: 85px;
}



.team-progress{
            margin-bottom: 10px;
}        
.team {
 display: block;
 margin-bottom: 5px;
}
        
.team-bar {
height: 8px;
  background-color: #e0e0e0;
   border-radius: 4px;
    overflow: hidden;
}
        
 .progress-level {
  height: 100%;
 background-color:#f7d047 ;
 }
.profile-box {
      background: white;
      padding: 15px;
      border-radius: 10px;
      margin-top: 20px;
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);
      text-align: center;
}      
.lp{
    font-size: x-large;
    padding-left: 10px;
    padding-top: 10px;

}

.manage-item{
       background: white;
      border-radius: 10px;
      margin-top: 15px;
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);
      box-shadow: -3px 0px 6px rgb(108, 162, 244);
      text-align:center;
}
.manage-text{
    background-color:#c3d9ff ;
    border-radius: 5px;
}
.manage-textone{
  background-color: #ffd1ab;
    border-radius: 5px;
}
.manage-texttoo{
  background-color:#ffa9ab;
  border-radius: 5px;
}
.manage-textthr{
    background-color:#e1c9ff ;
    border-radius: 5px;
}
.manage-itemone{
       background: white;
      border-radius: 10px;
      margin-top: 15px;
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);
      box-shadow: -3px 0px 6px rgb(235, 189, 97);
      text-align:center;
}
.manage-itemtoo{
       background: white;
      border-radius: 10px;
      margin-top: 15px;
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);
      box-shadow: -3px 0px 6px rgb(239, 94, 113);
      text-align:center;
}
.manage-itemthr{
       background: white;
      border-radius: 10px;
      margin-top: 15px;
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);
     box-shadow: -3px 0px 6px rgba(212, 94, 239);  
      text-align:center;
}
.feature-card {
    background: #e7f0ff;
    margin-left: 10px;
    margin-top: 10px;
    padding: 0.25rem;
    border-radius: 10px;
    border-color: #2563eb;
    border-width: 0.5px;
    border-style: solid;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}
.feature-card:hover {
    transform: translateY(-10px);
}
.feature-card p {
    margin-bottom: 1rem;
    font-size: 12px;
    color: #555;
}
.d{
    height: 25px;
    width: 120px;
    background-color: white;
    border: none;
    border-radius: 15px;
}
.event{
      display:flex;
        display:inline-block;
        padding: 10px;
    
}

.feature-cardto {
    background: #ffefd2;
    margin-left: 10px;
    margin-top: 10px;
    padding: 0.25rem;
    border-radius: 10px;
    border-color: #ebc025;
    border-width: 0.5px;
    border-style: solid;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}
.feature-cardto:hover {
    transform: translateY(-10px);
}
.feature-cardto p {
 margin-bottom: 1rem;
    font-size: 12px;
    color: #555;
}
